*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color:hsl(217, 54%, 11%);
}

main{   
    display:flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
    width:100%;
}

.card{
    background-color:hsl(216, 50%, 16%);
    padding:20px;
    height:540px;
    width:325px;
    border-radius:20px;
    flex: 0 1 auto;
    margin:auto;
}

.image{
    display:flex;
    align-items: center;
    justify-content: center;
}

img{
    width:275px;
    height:275px;
    border-radius:10px;
}

.description h1{
    margin-top:25px;
    font-size:20px;
    color:white;
}

.description p{
    font-size:15px;
    margin-top:15px;
    color:hsl(215, 51%, 70%);
}

.data{
    width:100%;
    display:flex;
    justify-content: space-between;
    margin-top:15px;
}

.data-left{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.data-left p{
    color:hsl(178, 100%, 50%);
    margin-left:5px;
}

.data-right{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.data-right p{
    color:hsl(215, 51%, 70%);
    margin-left:5px;
}

.user{
    margin-top:15px;
    display:flex;
    justify-content:left;
    align-items: center;
    width:280px;
    border-top:1px solid hsl(215, 32%, 27%)
}

.user img{
    width:30px;
    height:30px;
    border:1px solid white;
    border-radius:50%;
    margin-top:20px;
}

.user p{
    margin-left:10px;
    color: hsl(215, 51%, 70%);
    margin-top:20px;
}

span{
    color:white;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
